body {
	margin: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.weather,
.info {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.weather p {
	width: 300px;
	text-align: left;
}

.update-button:hover {
	box-shadow: 1px 3px 5px #ddd;
}

.update-button {
	cursor: pointer;
}

.condition-img {
	width: 50px;
}

button {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}
